.QuickRaidList {
    display: flex;
    flex-direction: column;   
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.textSegment {
    color: Black;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.listSegment {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted black;
    margin-top: 3%;
    background-color: #457EB4;
    -moz-box-shadow:    4px 5px 8px 1px #457EB4;
    -webkit-box-shadow: 4px 5px 8px 1px #457EB4;
    box-shadow:         4px 5px 8px 1px #457EB4;


}

.listSegment a {
    text-decoration: none;

}

.subSegment {
    width: 33%;
}

.bossImg {
    display: inline-block;
    width: 8vw;
    min-height: 8vh;
    object-fit: cover;
}

.signImg {
    display: inline-block;
    width: 4vw;
}