.MainPage {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 5px;
    background-image: linear-gradient(to right, #FF822E, #ccc, #FF822E);
}
.left, .right {
    width: 35vw;
    background-color: #57A0D3;
    margin-top: 3%;
    padding: 1%;
    display: flex;
    flex-direction: column;

    -moz-box-shadow:    4px 5px 8px 4px #ccc;
    -webkit-box-shadow: 4px 5px 8px 4px #ccc;
    box-shadow:         4px 5px 8px 4px #ccc;

}
.left {
    margin-right: 1%
}

.right {
    margin-left: 1%
}