.CharacterDetail {
    display: flex;
    flex-direction: row;   
    align-content: center;
    justify-content: space-between;
    border: 1px dotted black;  
    width: 100%;
}
.detailSegment {
    display: flex;
    width: 25%;
    align-content: center;
    justify-content: space-between;

}

.stackedDetail {
    display: flex;
    flex-direction: column;
}

.leftDetail {
    border: 1px dotted blue;
}



.ign {

}

.class {

}

.level {

}