.CharacterDetail {
    display: flex;
    flex-direction: row;   
    align-content: center;
    justify-content: space-between;
    border: 1px dotted black;  
}
.detailSegment {

}

.stackedDetail {
    border: 1px dotted blue;
    display: flex;
    flex-direction: column;
}

.leftDetail {
    border: 1px dotted blue;
}



.ign {

}

.class {

}

.level {

}